<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  <h1>
    Welcome to {{nom}}!
  </h1>
</div>
<div id="im1"></div>
<div class="container_zone1">
  <h3>Composant parent</h3>
  <input type="text" placeholder="Ajouter un fruit à votre liste" [(ngModel)]="fruit">
  <h2>Vous ajoutez ce fruit : {{fruit}}</h2>
  <!--<button (click)="fruits.push(fruit)" class="btn btn-success" name="button">{{ajout}} </button>-->
  <button (click)="addFruit()"  class="btn btn-success" name="button">{{ajout}} </button>

</div>

<div class="container_zone2">
  <h3 class="enfant">Composant enfant</h3>
  <div claas="liste">
  <h2>Vous avez ajouté ces fruits dans votre liste</h2>

  <app-child *ngFor="let fruitItem of fruits" [fruit]= "fruitItem" (deleted)="deleteFruit($event)" class="tal"></app-child>
  </div>
  </div>
